.main-theme {
  --background-left-section: #86A3B4;  
  --color-name: #fff;
  --color-surname: #1C2E8C;
  --color-main: #263036;
  --color-secondary: #1E1E1E;
  --color-link: #00f;
  --color-visited-link: #005;   
}
  

  



