.my-theme {   
  --background-left-section: #848C8E;  
  --background-right-section: #435058;
  --color-name: #DCF763;
  --color-surname: #1C2E8C;
  --color-main: #F1F2EE;
  --color-secondary: #BFB7B6;
  --color-link: #00f;
  --color-visited-link: #005;
}
