* {
  margin: 0;
  padding: 0;
}

.font-Inter {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
}

.container {
  display: flex; 
  width: 1200px;
  height: 1400px;
  margin: auto;
}

.left-section {
  background: #86A3B4;
}

.name {  
  width: 190px;
  font-size: 40px;
  color: #fff;
  margin: 58px 85px 20px 40px;
}

.name span {
  color: #1C2E8C;
}

.hire {
  display: block;
  width: 60px;
  margin: auto auto 20px auto;
}

.contact {
  margin: 50px 11px auto 40px;
}

.title {
  width: 289px;
  font-size: 32px;
  line-height: 39px;
  color: #263036;
  border-bottom: 5px solid black;
}

.contact-grid {
  display: grid;
  grid-template-rows: repeat(4, 60px);
  gap: 36px;
  margin: 30px 0 36px 0;
}

.contact-heading {
  padding-bottom: 11px;  
  font-size: 24px;
  line-height: 29px;
  color: #263036;
}

.contact-item {
  font-size: 16px;
  line-height: 19px;
  color: #263036;
}

.languages {
  margin-top: 23px;
}

.languages-items {
  font-size: 20px;
  line-height: 24px;
  color: #1E1E1E;
  padding-bottom: 15px;
}

.right-section {
  margin-left: 55px;
}

.rs-titles {
  width: 660px;
  font-size: 36px;
  line-height: 44px;
  color: #1E1E1E;
  border-bottom: 5px solid black;
  margin-bottom: 28px;
}

.rs-block {
  margin-top: 58px;
  width: 750px;
}

.sumtext {
  font-size: 16px;
  line-height: 19px;
  color: #263036;
}

.split-list {
  column-count: 2;
  margin-left: 17px;  
  font-size: 16px;
  line-height: 19px;
  color: #263036;
}

.exp-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000000;
  margin-bottom: 15px;
}

.ed-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #263036;
}

.rs-block span {
  font-weight: 600;
}

a:link {
  color: #00f;
  text-decoration: none;
}

a:visited {
  color: #005;
}

a:hover {
  text-decoration: underline;
}

/* Form styles */

.font-Plex {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
}

.hire-form {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 30px;
  max-width: 1024px;
  margin: 30px auto auto auto;   
}

table, th, td {
  width: 400px;
  text-align: center;
  border: 2px solid #000;
  border-collapse: collapse;
}

fieldset {
  border: 2px dashed #A020F0;
}

fieldset div {
  margin: 20px 0 20px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
}

input,
textarea,
select {
  box-sizing: border-box;
  width: 460px;
  height: 48px;
  padding: 12px;
  border: none;
  background: #F8FAFC;
  border-radius: 4px;
  font-size: 16px;
}

input[type = submit] {
  border: none;
  border-radius: 4px;
  background-color: #0048D9;
  color: #fff;
  cursor: pointer;
  width: 92px;
  height: 32px; 
  padding: 0;
}

input[type = submit]:hover {
  background-color: #002266;
  transition: .6s background-color;
}

textarea[id] {
  resize: none;
  height: 139px;
}

label::after {
  content: '*';
  color: #ff0000;
  padding-left: 5px;
}

select {
  background: #F8FAFC;
  cursor: pointer;  
  appearance: none;
  background-image: url(./mdi_arrow_drop_down.png);
  background-repeat: no-repeat;
  background-position: center right 0;
}

input::placeholder, 
textarea::placeholder {
  color: #B8BCCA;
}

input:focus,
textarea:focus,
select:focus {
  outline: 1px solid #0048D9;
}

input:invalid,
textarea:invalid,
select:invalid {
  outline: 1px solid #ff0000;
}

.error {
  visibility: hidden;
  color: #ff0000;
  font-size: 12px;
}

input:invalid + .error,
textarea:invalid + .error,
select:invalid + .error {
  visibility: visible;
}


