* {
  margin: 0;
  padding: 0;
}

.font-Inter {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
}

.container {
  display: flex; 
  width: 1200px;
  margin: var(--margin-container)
}

.left-section {
  background: var(--background-left-section);
}

.sticky {
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: scroll;
}

.name {  
  width: 190px;
  font-size: 40px;
  color: var(--color-name);
  margin: var(--margin-name);
}

.name span {
  color: var(--color-surname);
}

.hire {
  display: block;
  width: 60px;
  margin: var(--margin-hire-link);
}

.contact {
  margin: var(--margin-contact-block);
}

.title {
  width: 289px;
  font-size: 32px;
  line-height: 39px;
  color: var(--color-secondary);
  border-bottom: 5px solid black;
  margin: var(--margin-title);
}

.contact-grid {
  display: grid;
  grid-template-rows: repeat(4, 60px);
  gap: 36px;
}

.contact-heading {
  padding-bottom: var(--padding-bottom-contact-heading);
  font-size: 24px;
  line-height: 29px;
  color: var(--color-main);
}

.contact-item {
  font-size: 16px;
  line-height: 19px;
  color: var(--color-main);
}

.languages-items {
  font-size: 20px;
  line-height: 24px;
  color: var(--color-main);
  padding-bottom: var(--padding-bottom-languages-items);
}

.right-section {
  padding-left: var(--padding-left--right-section);
  background: var(--background-right-section);
}

.rs-titles {
  width: 660px;
  font-size: 36px;
  line-height: 44px;
  color: var(--color-secondary);
  border-bottom: 5px solid black;
  margin: var(--margin-rs-titles);
}

.rs-block {
  width: 750px;
}

.sumtext {
  font-size: 16px;
  line-height: 19px;
  color: var(--color-main);
}

.split-list {
  column-count: 2;
  margin-left: var(--margin-left-split-list);  
  font-size: 16px;
  line-height: 19px;
  color: var(--color-main);
}

.exp-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: var(--color-main);
  margin-bottom: var(--margin-bottom-exp-description)
}

.ed-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--color-main);
}

.rs-block span {
  font-weight: 600;
}

a:link {
  color: var(--color-link);
  text-decoration: none;
}

a:visited {
  color: var(--color-visited-link);
}

a:hover {
  text-decoration: underline;
}

/* Form styles */

.font-Plex {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
}

.hire-form {
  width: 1024px;
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 30px;
  position: absolute;
  top: calc(50% - 365px); 
  left: calc(50% - 512px);  
}

table, th, td {
  width: 400px;
  text-align: center;
  border: 2px solid #000;
  border-collapse: collapse;
}

fieldset {
  border: 2px dashed #A020F0;
}

fieldset div {
  margin: 20px 0 20px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
}

input,
textarea,
select {
  box-sizing: border-box;
  width: 460px;
  height: 48px;
  padding: 12px;
  border: none;
  background: #F8FAFC;
  border-radius: 4px;
  font-size: 16px;
}

input[type = submit] {
  border: none;
  border-radius: 4px;
  background-color: #0048D9;
  color: #fff;
  cursor: pointer;
  width: 92px;
  height: 32px; 
  padding: 0;
}

input[type = submit]:hover {
  background-color: #002266;
  transition: .6s background-color;
}

textarea[id] {
  resize: none;
  height: 139px;
}

label::after, 
textarea::after,
select::after {
  content: '*';
  color: #ff0000;
  padding-left: 5px;
}

select {
  background: #F8FAFC;
  cursor: pointer;  
  appearance: none;
  background-image: url(./mdi_arrow_drop_down.png);
  background-repeat: no-repeat;
  background-position: center right 0;
}

input::placeholder, 
textarea::placeholder {
  color: #B8BCCA;
}

input:focus,
textarea:focus,
select:focus {
  outline: 1px solid #0048D9;
}

input:invalid,
textarea:invalid,
select:invalid {
  outline: 1px solid #ff0000;
}

.error {
  visibility: hidden;
  color: #ff0000;
  font-size: 12px;
}

input:invalid + .error,
textarea:invalid + .error,
select:invalid + .error {
  visibility: visible;
}
