* {
  margin: 0;
  padding: 0;
}

.font-Inter {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
}

.container {
  display: flex; 
  width: 1200px;
  height: 1400px;
  margin: auto;
}

.left-section {
  background: #86A3B4;
}

.name {  
  width: 190px;
  font-size: 40px;
  color: #fff;
  margin: 58px 85px 20px 40px;
}

.name span {
  color: #1C2E8C;
}

.hire {
  display: block;
  width: 60px;
  margin: auto auto 20px auto;
}

.contact {
  margin: 50px 11px auto 40px;
}

.title {
  width: 289px;
  font-size: 32px;
  line-height: 39px;
  color: #263036;
  border-bottom: 5px solid black;
}

.contact-grid {
  display: grid;
  grid-template-rows: repeat(4, 60px);
  gap: 36px;
  margin: 30px 0 36px 0;
}

.contact-heading {
  padding-bottom: 11px;  
  font-size: 24px;
  line-height: 29px;
  color: #263036;
}

.contact-item {
  font-size: 16px;
  line-height: 19px;
  color: #263036;
}

.languages {
  margin-top: 23px;
}

.languages-items {
  font-size: 20px;
  line-height: 24px;
  color: #1E1E1E;
  padding-bottom: 15px;
}

.right-section {
  margin-left: 55px;
}

.rs-titles {
  width: 660px;
  font-size: 36px;
  line-height: 44px;
  color: #1E1E1E;
  border-bottom: 5px solid black;
  margin-bottom: 28px;
}

.rs-block {
  margin-top: 58px;
  width: 750px;
}

.sumtext {
  font-size: 16px;
  line-height: 19px;
  color: #263036;
}

.split-list {
  column-count: 2;
  margin-left: 17px;  
  font-size: 16px;
  line-height: 19px;
  color: #263036;
}

.exp-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000000;
  margin-bottom: 15px;
}

.ed-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #263036;
}

.rs-block span {
  font-weight: 600;
}

a:link {
  color: #00f;
  text-decoration: none;
}

a:visited {
  color: #005;
}

a:hover {
  text-decoration: underline;
}